<form (ngSubmit)="myForm.valid && onSubmit()" #myForm="ngForm">
  <div>
    Form submitted ? {{myForm.submitted}}
    Form valid ? {{myForm.valid}}
    Form invalid ? {{myForm.valid}}
  </div>
  <h2>Sign-up</h2>
  <div>
    <label for="mail">Mail : </label>
    <input name="mail" type="email" [(ngModel)]="model.mail" #mail="ngModel" required email>
  </div>
  <!-- Messages d'erreur -->
  <div *ngIf="mail.errors&&myForm.submitted">
    <span *ngIf="mail.errors?.required">Mail required!</span>
    <span *ngIf="mail.errors?.email">Invalid mail!</span>
  </div>
  <div>
    <label for="firstname">Firstname : </label>
    <input name="firstname" type="text" [(ngModel)]="model.firstname" #firstname="ngModel" required minlength="3" maxlength="15">
  </div>
  <!-- Messages d'erreur -->
  <div *ngIf="firstname.errors&&myForm.submitted">
    <span *ngIf="firstname.errors?.required">Firstname required!</span>
    <span *ngIf="firstname.errors?.minlength">Firstname too short, min lenght 3!</span>
    <span *ngIf="firstname.errors?.maxlength">Firstname too long, max lenght 15!</span>
  </div>
  <div>
    <label for="lastname">Lastname : </label>
    <input name="lastname" type="text" [(ngModel)]="model.lastname" #lastname="ngModel" required  minlength="3" maxlength="15">
  </div>
  <!-- Messages d'erreur -->
  <div *ngIf="lastname.errors&&myForm.submitted">
    <span *ngIf="lastname.errors?.required">Lastname required!</span>
    <span *ngIf="lastname.errors?.minlength">Lastname too short, min lenght 3!</span>
    <span *ngIf="lastname.errors?.maxlength">Lastname too long, max lenght 15!</span>
  </div>
  <div>
    <label for="password">Password : </label>
    <input name="password" type="password" [(ngModel)]="model.password" #password="ngModel" required minlength="5">
  </div>
  <!-- Messages d'erreur -->
  <div *ngIf="password.errors&&myForm.submitted">
    <span *ngIf="password.errors?.required">Password required!</span>
    <span *ngIf="password.errors?.minlength">Password too short, min lenght 5!</span>
  </div>
  <div>
    <button type="reset">Reset</button>
    <button type="submit">Submit</button>
  </div>
</form>
